<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- 보기 편하게 CSS추가 -->
    <style> 
        *{
            text-align : center;
        }
        #editor {
            border : 1px solid;
            width : 50%;
            margin : 0 auto;
        }
    </style>
</head>
<body>
    <h1>Toast Editor 적용해보기</h1>
    
    <!--Toast UI Editor가 들어갈 div 태그-->
    <div id="editor"></div>
</body>
</html>