{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Post - Blog{% endblock %}

{% block main_area %}
    <h1>Edit Post</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <!-- endtype : 폼에서 파일을 전송할 때 꼭 필요함 -->
    <!-- csrf : 웹사이트 공격 / csrf_token 을 적어놓기만 하면 장고가 알아서 막아준다.-->
        

            {{ form | crispy}} <!-- views.py 에 설정해 둔 fields 가 들어있는 폼이 알아서 들어간다. -->
            <div id="div_id_tag_str">

                <label for="id_tag_str">Tag 추가하기</label>
                <input type="text" name="tag_str" id="id_tag_str" class="textinput textInput form-control" value="{{ tags_str_default }}">
            </div>
            <br>

        
        <button type="submit" class="btn btn-warning float-right">
            <!--float-right: 오른 쪽 정렬-->
            Submit
        </button>
        
    </form>

{% endblock %}